.header {
  height: 6em;
  position: sticky;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 6em;
  background: #ebf5f0;
  z-index: 1;
}
.logo {
  font-size: 25px;
  font-weight: bold;
  color: blueviolet;
}
@media screen and (max-width: 768px) {
  .header {
    padding-inline: 1em;
  }
}
