.container {
  border: 2px solid red;
  padding-inline: 6em;
  background: rgb(65, 65, 65);
  color: white;
}
.container > h2,
.container > p {
  text-align: center;
}
.container > p {
  font-size: 20px;

}
.form {
  display: flex;
  /* border: 2px solid blue; */
  /* width: 600px; */
  gap: 20px;
  justify-content: center;
}
.input {
  /* flex: 1; */
  background: transparent;
  text-indent: 10px;
  width: 500px;
  /* margin-inline:10px ; */
}
.btn {
  width: 200px;
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  background: blueviolet;
  color: white;
}
