.container {
  padding: 6em 6em;
  margin-bottom: 6em;
  width: 100vw;
  background: white;
}
.container > h2,
.container > p {
  text-align: center;
}
.container > p {
  font-size: 20px;
  text-transform: capitalize;
}
.form {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.input {
  border: 2px solid #222;
  border-radius: 10px;
  background: transparent;
  font-size: 20px;
  text-indent: 10px;
  color: white;
  width: 500px;
}
.btn {
  width: 200px;
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  background: blueviolet;
  color: white;
  border-radius: 10px;
}
@media screen and (min-width: 500px) and (max-width: 600px) {
  .container > h2 {
    font-size: 20px;
  }
  .container > p,
  .input,
  .btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 499px) {
  .container > h2 {
    font-size: 18px;
    margin: auto;
  }
  .container > p,
  .input,
  .btn {
    font-size: 14px;
  }
}
